.sponsor-logo {
    width: auto;
    height: 10rem;
}

.headshot-wrapper {
    width: 9rem;
    height: 9rem;
}

.event-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.event-photo-thumb {
    height: 180px;
    object-fit: cover;
    width: 100%;
}
