---

---
{% assign cacheBust = site.time | date:'?v=%s' %}

<!doctype html>
<html lang="en" class="h-100">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description == "" or page.description == nil or page.description == blank %}{{site.description}}{% else %}{{page.description | slice: 0,160}}{% endif %}">

<meta property="og:image" content="{{ "/assets/img/ddm_logo.png" | prepend: site.url }}" />

<title>{{page.title}} | {{site.title}}</title>

<link rel="icon" type="image/png" href="/favicon.png" />

<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/bootstrap-icons.min.css" rel="stylesheet">
<link href="{{ "assets/css/site.css" | relative_url | append: cacheBust }}" rel="stylesheet">
<script src="https://js.tito.io/v2" async></script>

</head>

<body class="d-flex h-100">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg pb-2 mb-4 border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <svg width="32" height="32" class="me-2 d-inline-block align-text-top" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M471.239 325.991H28.761V436.123H471.239V325.991Z" fill="#2ECC71"/>
                        <path d="M316.372 193.833H28.761V303.965H316.372V193.833Z" fill="#E74C3C"/>
                        <path d="M449.115 61.674H28.761V171.806H449.115V61.674Z" fill="#3498DB"/>
                        <line x1="32.761" y1="27.5331" x2="32.761" y2="472.467" stroke="black" stroke-width="8"/>
                        <line x1="471.239" y1="473.163" x2="28.761" y2="473.163" stroke="black" stroke-width="8"/>
                    </svg>
                    {{site.title}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://ti.to/dundee-data-meetup/">Upcoming events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">Past events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/code-of-conduct">Code of Conduct</a>
                        </li>
                        {%comment%}
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        {%endcomment%}
                    </ul>
                </div>
            </div>
        </nav>


        <main class="px-3">
            {{content}}
        </main>

        <footer class="py-3 mt-auto text-body-secondary border-top">
            <div class="container">
                &copy; {{ "now" | date: "%Y" }} {{site.title}}
            </div>
        </footer>
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>