---
layout: default
---

<h1>{{page.title}}<br /><small class="text-body-secondary fs-3">{{page.date | date: "%-d %B %Y"}}</small></h1>

{%if page.attendance %}
<p>{{page.attendance}} attendees</p>
{%endif%}

{%if page.description %}
<h2>Description</h2>
<p>{{page.description}}</p>
{%endif%}

{%if page.topics %}
<h2>Speakers and topics</h2>
{%for topic in page.topics %}
    <h3>{{topic.title}}</h3>
    {% if topic.speaker %}
        {%- comment -%} TODO: This can probably be refined to assume an array is always in use {%- endcomment -%}
        {%- comment -%} If there is more than one speaker then loop {%- endcomment -%}
        {% if topic.speaker.first %}
            {% for speaker_slug in topic.speaker %}
                {% assign speaker = site.speakers | where:"slug", speaker_slug | first %}
                <p><strong>{{speaker.name}}</strong>, {{speaker.tagline}}</p>
            {% endfor %}
        {%- comment -%} If there is a single speaker then don't loop {%- endcomment -%}
        {% else %}
            {% assign speaker = site.speakers | where:"slug", topic.speaker | first %}
            <p><strong>{{speaker.name}}</strong>, {{speaker.tagline}}</p>
        {% endif %}
    {% endif %}
    <p>{{topic.description | markdownify}}</p>
{%endfor%}
<h2>Speaker bios</h3>
{%for topic in page.topics %}
    {%- comment -%} TODO: This can probably be refined to assume an array is always in use {%- endcomment -%}
    {%- comment -%} TODO: Handle duplication cases where the same speaker may appear in multiple topics. Only render bio once. {%- endcomment -%}
    {%- comment -%} If there is more than one speaker then loop {%- endcomment -%}
    {% if topic.speaker.first %}
        {% for speaker_slug in topic.speaker %}
            {% assign speaker = site.speakers | where:"slug", speaker_slug | first %}
            <h3>{{speaker.name}}</h3>
            <p>{{speaker.bio | markdownify}}</p>
        {% endfor %}
    {%- comment -%} If there is a single speaker then don't loop {%- endcomment -%}
    {% else %}
        {% assign speaker = site.speakers | where:"slug", topic.speaker | first %}
        <h3>{{speaker.name}}</h3>
        <p>{{speaker.bio | markdownify}}</p>
    {% endif %}    
{%endfor%}
{%endif%}

{%if page.slides %}
<h2>Slides</h2>
<ul>
{%for slide in page.slides %}
    <li><a href="{{slide.url | prepend: site.url}}" download target="_blank">{{slide.title}}</a></li>
{%endfor%}
</ul>
{%endif%}